<html>
  <head>

  </head>
  <body>
    <form method="post">
      <label for="fName">Firstname_Label</label>
      <input type="text" id="fName" name="Firstname"/><br/>
      <label for="lname">LastName_Label</label>
      <input type="text" id="lName" name="LastName"><br/>
      <input type="submit" value="Click to submit">
    </form>
  </body>
</html>